.user-info {
    border: 1px solid transparent;
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 130px;
    border-radius: 5px;
}
.user-info > a {
    height: 76px !important;
}
.user-info ul.sub-menu {
    margin-left: -56px !important;
}
.intro {
    background-image: url('../../images/intro.jpg')
}
.excerpt p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gdrts-stars-empty {
    color: #dddddd;
    font-size: 20px;
    line-height: 20px;
}
form .last-selector {
    margin-bottom: 20px;
}
.post-item h2 {
    min-height: 65px;
}
.main-image-home {
    max-height: 430px;
}
