.user-info {
    border: 1px solid transparent;
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 90px;
    border-radius: 5px;
}
.user-info>a>img {
    height: 60px !important;
}
.user-info > a {
    height: 76px !important;
}
.user-info ul.sub-menu {
    margin-left: -56px !important;
}
.intro {
    background-image: url('../../images/intro.jpg')
}
.excerpt p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gdrts-stars-empty {
    color: #dddddd;
    font-size: 20px;
    line-height: 20px;
}
form .last-selector {
    margin-bottom: 20px;
}
.post-item h2 {
    min-height: 65px;
}
.main-image-home {
    max-height: 430px;
}
.delete-form {
    display: none;
}
.logo img {
    width: 120px;
    margin-top: -45px;
    margin-left: 40px;
}
.widget ul li {
    margin:2px;
}
li.star-num {
    width: 100%;
    height: 35px;
    padding-top: 10px;
}
li.star-num i {
    color: #e68609;
}
.pagination .page-item:before {
    content: '';
}

/* noti */
.notification .badge {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 10px;
border-radius: 50%;
background: red;
color: white;
}
.main-nav .notification-ul {
    padding: 0px!important;
    width: 350px !important;

}
.main-nav .notification-ul li {
    border: 1px solid;
    padding: 10px;
    border-bottom: 1px solid #cccccc54;
}
.main-nav ul ul li {
    float: left;
    width: 100%;
    position: relative;
    background: none;
    text-transform: none;
}