
.wrap-step-images {
    display: inline-block;
}
.wrap-single-image {
    float: left;
    padding: 5px 10px;
}
.step-image-2 img {
    height: 235px;
}
.step-image-more img {
    height: 220px;
}
.wrap-step-images .step-image-2 {
    max-width: 49%;

}
.wrap-step-images .step-image-more {
    max-width: 33%;
}
.content {
    width: 100%;
}
.user-data dt, .ingredients-data dt {
    width: 25% !important;
}
.ingredients-data dd, .user-data dd {
    width: 75% !important;

}
.user-avt-post img{
    width: 41px;
    height: 39px;
    display: inline;
    vertical-align: middle;
}
.user-data .first-dt {
    height: 52px;
}
.main-img {
    max-height: 400px !important;
}
.filling-error {
    background: #FBEFEF;
    padding: 5px;
    margin: 3px 0;
    font-size: 11px;
    border: 1px dashed #F3D0D0;
    width: calc(100% - 2px);
    color: #c70808;
    display:none;
}
.active {
    display: block !important;
}
.edit {
    right: 100px !important;
}
.comment-box a.comment-reply-link {
    color: #fff !important;
}
.edit-comment-form {
    display: none;
}
.wrap-open-edit {
    display: none;
}
.save-comment {
    right: 100px !important;
}
.wrap-post-content {
    background-color: #fff;
    padding: 20px;
}
.wrap-post-content em {
    color: inherit !important;
}
.recipe dt, .basic dt {
    margin:0px !important;
}
span.stars, span.stars>* {
    display: inline-block;
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}