
.wrap-step-images {
    display: inline-block;
}
.wrap-single-image {
    float: left;
    padding: 5px 10px;
}
.step-image-2 img {
    height: 235px;
}
.step-image-more img {
    height: 220px;
}
.wrap-step-images .step-image-2 {
    max-width: 49%;

}
.wrap-step-images .step-image-more {
    max-width: 33%;
}
.content {
    width: 100%;
}
.user-data dt, .ingredients-data dt {
    width: 25% !important;
}
.ingredients-data dd, .user-data dd {
    width: 75% !important;

}
.user-avt-post img{
    width: 40px;
    display: inline;
    vertical-align: middle;
}
.user-data .first-dt {
    height: 56px;
}
.main-img {
    max-height: 400px !important;
}
