.wrap-ingredient {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px 0px 35px;
    border-radius: 10px;
}
.wrap-ingredient .ingredient-small {
    width: 25%;
    float:left;
    margin-left: 20px;
}
.wrap-ingredient .ingredient-name {
    width: 33%;
    float:left;
    margin-left: 10px;
}
.clearBoth {
    clear:both; 
}

.wrap-add-button {
    width: 10%;
    float: left;
    margin-left: 20px;
    margin-top: 23px;
    text-align: center;
}
.wrap-add-button .add-ingredient {
    width: 105px !important;
    cursor: pointer;
}
.ingredient-container {
    float: left;
    width: 100%;
}
.ingredient-container .ingredient-item {
    border: 1px solid #ccc;
    padding: 13px;
    font-size: 17px;
    color: #9e9e9e;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin-bottom: 15px;
    margin-left: 22px;
    width: 47%;
    float: left;
}
.ingredient-container .ingredient-item .fa-check-circle {
    font-size: 12px;
    color: #008000ad;
    margin-right: 10px;
    margin-left: 10px;
}
.ingredient-container .ingredient-item .fa-times-circle {
    float: right;
    overflow: hidden;
    cursor: pointer;
    color: #a29e9e;
    margin-top: -10px;
    margin-right: -8px;
}

.filling-error {
    background: #FBEFEF;
    padding: 5px;
    margin: 3px 0;
    font-size: 11px;
    border: 1px dashed #F3D0D0;
    width: calc(100% - 2px);
    color: #c70808;
    display: none;
}
.ingredient-error {
    float: left;
}
.error-active {
    display: block !important;
}
